{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Aca va el contenido de product detail</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.description}}</p>
            <p class="card-text">{{object.price}}</p>
            <a href="/products/update-product-api-view/{{object.id}}/" class="btn btn-primary">Editar</a>
            <a href="/products/delete-product-api-view/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

</div>

{% endblock %}