<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{fecha}}</h3>
    <h2>Mi nombre es {{nombre}}</h2>
    <h2>Mi apellido es {{apellido}}</h2>

    {% for edad in edades %}
        {% if edad >= 18 %}
            <p style = color:green> edad es {{edad}} </p>
        {% else %}
            <p style = color:red> edad es {{edad}} </p>
        {% endif %}
    {% endfor %}
</body>
</html>